@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .blue-button {
    @apply flex w-full justify-center rounded-md typeB16 bg-navy-800 px-3 py-4 text-blue-75 hover:bg-navy-75 hover:text-navy-800 transition-colors focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
  }

  .form-input {
    @apply bg-transparent p-3 block w-full rounded-md border-0 ring-1 ring-inset ring-tungston-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-info-600 sm:text-sm sm:leading-6;
  }

  .link {
    @apply typeB14 text-info-600 hover:text-info-900;
  }

}



body, html {
    font-family: 'Roboto', sans-serif;
}


/* typography */

.typeH98 {
  font-family: Roboto;
  font-size: 98px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.02;
  letter-spacing: -1.96px;
}

.typeH67 {
  font-family: Roboto;
  font-size: 67px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.typeH51 {
  font-family: Roboto;
  font-size: 51px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.typeH38 {
  font-family: Roboto;
  font-size: 38px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.typeH28 {
  font-family: Roboto;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.typeH26 {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.typeH21 {
  font-family: Roboto;
  font-size: 21px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
}

.typeboldb18 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
}

.typeB18 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
}

.typeboldb16 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
}

.typeB16 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
}

.typeboldb14 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
}

.typeB14 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
}

.typeB12 {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}